body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 242, 252);
}
.container{
    height: 450px;
    width: 300px;
    background-color: white;
    border-radius: 20px ;
    padding: 10PX;
    
}
.qr-container{
    padding: 10px;
    background-color: #00BFFF;
    height: 200px;
    width: 240px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
img{
    margin: 20px auto;
    margin-left: 45px;
}
.title{
    margin-top: 50px;
    font-family: sans-serif;
    font-weight: bold;
}
p{
    font-family: sans-serif;
}